//mixin sin parametros
@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//mixin con parametros

@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin imagenes($width, $height,$object){
    width: $width;
    height: $height;
    object-fit: $object;
}

@mixin font($size,$family,$grosor,$color){
    font-size: $size;
    font-family: $family;
    font-weight: $grosor;
    color: $color;
}

//EXTEND
.d-flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
